#cross-icon {
  display: none;
}

#main-menu{

  .menu {
    transition: all 0.44s;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    right: 30px;
    top: 30px;
    cursor: pointer;
    border: 2px solid transparent;
    z-index: 9;
    
    &_part {
      width: 18px; 
      height: 2px; 
      position: absolute;
      background: $gray-200; 
      right: 0;
      margin: auto;
      left: 0;
      border-radius: 1px;
      transition: all 0.44s cubic-bezier(0.6, 0.1, 0.4, 1.7);
      top: calc(50% - ((6.5px)) + -2px);
      
      &:nth-of-type(1) {
        top: calc(50% - ((6.5px)) + -4px);
        width: 32px;
      }
      
      
      &:nth-of-type(2) {
        top: calc(50% - ((6.5px)) + 3px);
        width: 26px;
      }
      
      
      &:nth-of-type(3) {
        top: calc(50% - ((6.5px)) + 10px);
        width: 20px;
      }

    }
  }

  .menu-container{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($gray-800,.97);
    opacity: 0;

    .menu-items{
      @include heading-font;
      li{
        opacity: 0;
        a{
          color: $white;
          opacity: .9;
          font-size: 2rem;
        }
      }
    }
  }
}



input#cross-icon:checked + label .menu {
  transform:scale(1.19) rotate(0deg);
  border: 2px solid $gray-200;
}

input#cross-icon:checked + label .menu .menu_part:nth-of-type(1) {
  transform: rotate(45deg);
  width: 18px !important;
  top: calc(50% - (1.5px))!important;
}

input#cross-icon:checked + label .menu .menu_part:nth-of-type(2) {
  left: 8px !important;
  opacity: 0;
}

input#cross-icon:checked + label .menu .menu_part:nth-of-type(3) {
  transform: rotate(-45deg);
  width: 18px!important;
  top: calc(50% - (1.5px))!important;
}